<%- include('../partials/header') %>
    <h1>ADD NEW FLIGHT</h1>
    <form action = "/flights" method = POST>
        <label>AIRLINE: 
            <select name = "airline">
                <option value = "American">American</option>
                <option value = "Southwest">Southwest</option>
                <option value = "United">United</option>
            </select>
        </label><br>
        <label>AIRPORT:
            <select name = "airport">
                <option value = 'AUS'>AUS</option>
                <option value = 'DAL'>DAL</option>
                <option value = 'LAX'>LAX</option>
                <option value = 'SEA'>SEA</option>
            </select>
        </label><br>
        <label> FLIGHT NO: 
            <input type = "text" name = "flightNo">
        </label><br>
        <label>DEPARTURE DATE:
            <input type = "datetime-local" name = "departs">
        </label><br>
        <input class = "button"  id = "submit-button" type="submit" value="Add Flight">
    </form>
</body>
</html>